<!DOCTYPE html>
<html>
	<head>
		<title>Photopic</title>
		<link rel="stylesheet" href="webjars/bootstrap/3.2.0/css/bootstrap.min.css"/>
	</head>
	<body>
		<h1>Photopic</h1>
		<p>The following photo topics are available:</p>
		<ul>
			{{#topic}}
				<li>{{name}}</li>
			{{/topics}}
		</ul>
	</body>
</html>
