<!DOCTYPE html>
<html>
	<head>
		<title>Photopic</title>
		<link rel="stylesheet" href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css"/>
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/"><span class="glyphicon glyphicon-camera"></span> Photopic</a>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="page-header">
				<h1>Add a topic</h1>
			</div>
			<form role="form" method="post" action="/topics">
				{{#topic}}
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" id="name" class="form-control" name="name" value="{{name}}"
							placeholder="Enter a topic name"/>
					</div>
				{{/topic}}
				<p>
					<button type="submit" class="btn btn-primary">
						<span class="glyphicon glyphicon-plus"></span> Add
					</button>
					<a href="/topics" class="btn btn-default">Cancel</a>
				</p>
			</form>
		</div>
	</body>
</html>
