<!DOCTYPE html>
<html>
	<head>
		<title>Photopic</title>
		<link rel="stylesheet" href="webjars/bootstrap/3.2.0/css/bootstrap.min.css"/>
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Photopic</a>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="page-header">
				<h1>Topics</h1>
			</div>
			<p>The following photo topics are available:</p>
			<ul>
				{{#topic}}
					<li>{{name}}</li>
				{{/topics}}
			</ul>
		</div>
	</body>
</html>
