<!DOCTYPE html>
<html>
	<head>
		<title>Photopic</title>
	</head>
	<body>
		<h1>Photopic</h1>
		<p>The following photo topics are available:</p>
		<ul>
			{{#topic}}
				<li>{{name}}</li>
			{{/topics}}
		</ul>
	</body>
</html>
